<!DOCTYPE html>
<html>

<head>
    <title>Algorithm Arena</title>
</head>

<body>

    <div>
        <form method="POST" id="problemForm">
            <select name="problem">
                {% for p in problems %}
                    <option value="{{ p }}">{{ p }}</option>
                {% endfor %}
            </select>
            <br><br>
            <h2>Submit Your Code:</h2>
            <textarea name="user_code" rows="20" cols="100" required></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>

</body>
</html>